mixin item(data)
    if data.soldOut
        - var soldOut='card__body--disabled';
    else
        - var soldOut='js-card__body';
    if data.isSelected
        - var isSelected='active';
    else
        - var isSelected='inactive';
    .card
        .card__body(class=soldOut)(class='card__body--'+isSelected)
            .card__header
                .card__corner
                .card__lead.card__lead--inactive Сказочное заморское яство
                .card__lead.card__lead--active Котэ не одобряет?
            .card__main
                h2.card__heading Нямушка
                    .card__flavour= data.flavour
                .card__info
                    strong= data.portions 
                    span  порций
                    br
                    strong= data.giftAmount
                    span= ' '+data.gift+' в подарок'
                    br
                    span= data.additional
                img.card__image(src="img/cat.png" alt="Кот")
                .card__circle
                    .card__weight
                        span.card__amount= data.weight
                        .card__measure кг
        .card__bottom
            if data.soldOut
                span.card__sold= 'Печалька, '+data.flavour+' закончился.'
            else
                if data.isSelected
                    .card__bottom-text
                        span= data.bottomText
                    .card__bottom-buy.card__bottom-buy--inactive
                        | Чего сидишь? Порадуй котэ, 
                        span.card__buy
                            span.card__buy-button.js-card__buy-button купи
                            | .
                else
                    .card__bottom-text.card__bottom-text--inactive
                        span= data.bottomText
                    .card__bottom-buy
                        | Чего сидишь? Порадуй котэ, 
                        span.card__buy
                            span.card__buy-button.js-card__buy-button купи
                            | .