mixin item(data)
    - var soldOut=false;
    .card
        .card__main
            span Сказочное заморское явство
            h2 Нямушка
            h3= data.flavour
            .card__info
                strong= data.portions 
                span  порций
            .card__gift
                strong= data.giftAmount
                span= ' '+data.gift+' в подарок'
                br
                span= data.additional
            .card__weight
                span= data.weight
                br
                span кг
        .card__bottom
            if data.soldOut
                span= 'Печалька, '+data.flavour+' закончился'
            else
                span Чего сидишь? Порадуй котэ, 
                    a(href="#") купи.
                