mixin item(data)
    if data.soldOut
        - var soldOut='card__body--disabled';
    else
        - var soldOut='js-card__body';
    .card
        .card__body.card__body--inactive(class=soldOut)
            .card__header
                .card__corner
                .card__lead.card__lead--inactive Сказочное заморское яство
                .card__lead.card__lead--active Котэ не одобряет?
            .card__main
                h2.card__heading Нямушка
                    .card__flavour= data.flavour
                .card__info
                    strong= data.portions 
                    span  порций
                    br
                    strong= data.giftAmount
                    span= ' '+data.gift+' в подарок'
                    br
                    span= data.additional
                img.card__image(src="img/cat.png" alt="Кот")
                .card__circle
                    .card__weight
                        span.card__amount= data.weight
                        .card__measure кг
        .card__bottom
            if data.soldOut
                span.card__sold= 'Печалька, '+data.flavour+' закончился.'
            else
                .card__bottom-text.card__bottom-text--inactive
                    span= data.bottomText
                .card__bottom-link
                    span Чего сидишь? Порадуй котэ, 
                    span.card__link
                        a.js-card__link(href="javascript:void(0);") купи
                        | .